<li id="menu_home" class="home"> <a href="/"> Home </a> </li>
<li id="menu_blog" class="blog"> <a href="/?blog_page=blog"> Blog </a> </li>
{{#foreach navigation}}
	<li class="{{slug}}{{#if current}} active{{/if}}"> <a href="{{url absolute="true"}}"> {{label}} </a> </li>
{{/foreach}}

<script>
   var slugs = window.location.href.split('/');
   if ( slugs[3] === "" ) {
      $('#menu_home').addClass('active');
   } else if ( slugs[3] === "?blog_page=blog" ) {
      $('#menu_blog').addClass('active');
   }
</script>
