{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}


<script>
/* ===========================================
 ========== Header Code Injection ===========
 ============================================= */

    var Preloader = "on";

    /*=============== Home Page Settings =================*/
    //Home Page Menu Item
    var Home_Page_Menu = {
        "About Me": "/about",
        "Portfolio": "/tag/portfolio/",
        "My Blog": "?blog_page=blog"
    };

   // Homepage Text Slider
    var Home_slider = {
        "Welcome to Acronym"  : "This is awesome Photoghrapy Theme",
        "Acronym Photograph"   : "Discover the Awesomeness of the World",
        "Acronym Explore" : "Awesome theme for Photography or Travel",
    };

    //Home Page Background Slider
    var Home_Slider_BG = [
        "http://res.cloudinary.com/prashannth/image/upload/v1466248099/DNomad-min_wuf7pr.jpg",
        "http://res.cloudinary.com/prashannth/image/upload/v1466248101/digital-nomad-cafe-min_kdxvv9.jpg",
        "http://res.cloudinary.com/prashannth/image/upload/v1466248101/digital-nomad-equipment-min_wdpmqm.jpg",
        "http://res.cloudinary.com/prashannth/image/upload/v1466248101/digital_nomad-min_s4y7cd.jpg"
      ];

    // Home page social Profile
    var Home_Social = {
        "medium": "https://medium.com/@prashannth",
        "facebook": "https://www.facebook.com/vprashannth",
        "twitter": "https://twitter.com/vprashannth",
        "linkedin": "https://www.linkedin.com/in/prashannth",
        "google-plus": "https://plus.google.com/u/0/115133202389473951609",
        "github": "https://github.com/prashannth",
        "stack-overflow": "stackoverflow.com/users/2110121/prashannth-vijayakumar",
        "instagram": "https://www.instagram.com/vprashannth"
    };

    //Author Info
    var Author_Info = {
        profile_picture: "http://res.cloudinary.com/prashannth/image/upload/v1466236190/headshot_uqfnyr.jpg", // Here is author porofile picture image link.
        name: " Prashannth", // Here is Author name
        url: "/about",
    };

    /*===============  Error Page Settings =================*/
    // Error Page Menu Item
    var Error_Page_Menu = {
        "Home": "/",
        "Blog": "/?blog_page=blog",
    };
    //Error Page Background Image
    var Error_Page_BG = "http://res.cloudinary.com/prashannth/image/upload/v1466248098/404-min_uhvk4p.jpg";


    // Disqus Shortname
    var disqus_shortname ="prashannth";

    //Copyright Text
    var Copyright_Text = "Prashannth &copy; 2016";


</script>

   <!-- Fullscreen Page
   ================================================== -->
   <div id="fullscreen">
       <div id="sidebar" class="blog blog-error">
           <div class="error-page-bg featured-img"></div>
       </div>
<script>
    if ( typeof( Error_Page_BG ) != "undefined" ) {
        $('.error-page-bg').append('<img src="'+Error_Page_BG+'" alt="Page Not Found!">');
    } else {
        $('.error-page-bg').append('<img src="http://lorempixel.com/400/700" alt="Page Not Found!">');
    }
</script>
       <div class="container blog-error">
           <div class="row">
               <div id="left" class="col-sm-12 col-md-12">
                    <div id="menu" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                        <div class="menu-wrap">
                            <i class="fa fa-bars"></i><span>Menu</span>
                        </div>
                    </div> <!-- /#menu -->
                   <div id="page-detail" class="error-page text-center">
                        <span class="plogo"><img src="{{asset "img/error.png"}}" alt="{{@blog.name}}"></span>
                       <h1>Nothing Found!</h1>
                       <div class="space"></div>
                       <div class="back-to-home">
                            <ul class="tags">
                                <script>
                                    for ( var Url in Error_Page_Menu ) {
                                        document.write('<li><a href="' + Error_Page_Menu[Url] + '" class="btn">'+ Url + '</a></li>');
                                    }
                                </script>
                            </ul>
                       </div>
                       <div class="space"></div>
                   </div>
               </div> <!--- End Left Content -->
           </div> <!-- end Container -->
       </div> <!-- End Container -->

       <!-- Navigation Bar -->
       {{> "page-footer"}}
   </div> <!--- End Full Screen Blog Post Page -->
